@media (max-width: 1124px){
    /* header */
    .header{
        padding: 0 60px;
    }
    .lang-div{
        margin-left: 28px;
    }
    /* footer */
    .app-box{
        flex-direction: column;
    }
    .li-app:last-child{
        margin-left: 0px;
    }
}
@media (max-width: 1024px){
    /* header */
    .header{
        padding: 20px 15px;
    }
    .header-div{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .lang-div, .menu{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    /* footer */
    .footer{
        margin-bottom: 54px;
        padding: 9px 20px 35px 20px;
    }
    .footer-div{
        max-width: 750px;
        width: 100%;
    }
    .logo-box{
        justify-content: flex-start;
    }
    .soc-icon-box, .f-ul, .list-header, .list-box-2{
        display: none;
    }
    .mob-li-box{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .app-box{
        flex-direction: row;
    }
    .list-box{
        justify-content: center;
    }
    .li-app:last-child{
        margin-left: 15px;
    }
    .mob{
        justify-content: center;
        display: flex;
        align-items: flex-start
    }
    .soc-icon:first-child{
        margin-left: 0;
    }
}
@media (max-width: 884px){
    /* main-slider section */
    .con-content:hover{
        width: 20%;
      }
}
@media (max-width: 768px){
    /* header */
    .header{
        padding: 8px 3px;
    }
    .logo{
        width: 100px;
    }
    .bar{
        width: 24px;
    }
    .burger-bar {
        top: 12px;
        left: 10px;
      }
    /* main-slider section */
    .con-content{
        width: 5%;
    }
    .con-content:nth-child(3){
        display: none;
    }
    .con-content:hover{
        width: 28%;
      }
    .hover-a{
        font-size: 13.5px;
    }
}
@media (max-width: 470px){
    /* main-slider section */
    .con-content{
        width: 6%;
    }
    .con-content:hover{
        width: 40%;
      }
}