/* header */
.header {
  background-color: rgba(0, 0, 0, 0.34);
  padding: 0px 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header-div {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 144px;
}
.lang-div {
  width: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 42px;
}
.lang {
  width: 24px;
}
.burger-bar {
  display: none;
  position: absolute;
  top: 22px;
  left: 20px;
}
.bar {
  width: 46px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
}
.u-list {
  width: 470px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list {
  padding: 35px 0;
  position: relative;
  display: inline-block;
}
.li-a {
  font-family: "BPG Nino Medium Caps", sans-serif;
  font-size: 18px;
  color: white;
}
.drop-down-menu {
  position: absolute;
  top: 88px;
  left: 0;
  z-index: 99;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 0px 20px;
  display: none;
  width: 320px;
}
.list:hover .drop-down-menu {
  display: block;
}
.drop-down-li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}
.drop-down-a {
  display: flex;
  font-size: 20px;
  margin-left: 25px;
  color: #e84f5b;
}
.my-pro {
  font-family: "BPG Nino Medium Caps", sans-serif;
  color: white;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 15px;
  background-color: #e84f5b;
  border-radius: 6px;
}
.my-pro:hover {
  background-color: #b3434c;
}

/* footer */
.footer {
  background-color: #5c656b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 112px;
  filter: drop-shadow(1px 3px 6px #000000);
}
.footer-div {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 34px;
}
.f-logo {
  height: 80.6px;
}
.soc-icon-box {
  display: flex;
  align-items: flex-start;
}
.soc-icon {
  width: 40px;
  margin-left: 10px;
}
.list-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.list-header,
.mob-list-header {
  font-size: 18px;
  color: white;
  margin-bottom: 22px;
}
.f-li {
  width: 152px;
  margin-bottom: 13px;
}
.f-a {
  font-size: 12px;
  color: #ced1d3;
}
.app-box {
  display: flex;
}
.li-app:last-child {
  margin-left: 15px;
}
.li-app {
  padding: 12px 17px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
}
.app {
  max-width: 140px;
  width: 100%;
}
.footer-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-li {
  text-align: center;
}
.footer-a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: #ced1d3;
}
.mob {
  display: none;
}
.mob-li-box {
  display: none;
}
.mob-li {
  max-width: 140px;
  margin-bottom: 17px;
  text-align: end;
}
.mob-a {
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  line-height: 17px;
}

/* main page slaider */
/* Slideshow container */
.main-slider{
    position: relative;
}
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 18px;
  padding: 30px 10%;
  position: absolute;
  bottom: 13%;
  max-width: 900px;
  width: 88%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px 0 10px 10px;
  clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
}
.text:hover{
  background-color: rgba(0, 0, 0, 0.603);
}  
.slider-header{
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-bottom: 15px;
  border-bottom: #E84F5B solid 2px;
}
.slider-par{
  margin-top: 15px;
  line-height: 30px;
}
/* The dots/bullets/indicators */
.dot-box{
  position: absolute;
  width: 100%;
  bottom: 4%;
  margin: 0 auto;
}

.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.hover-contact{
  position: absolute;
  top: 45%;
  right: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.con-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #E84F5B;
  width: 3%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 8px;
}
.hover-a{
  color: white;
  font-size: 15px;
  display: none;
}
.con-img{
  width: 29px;
  margin-right: 11px;
}
.con-content:hover{
  width: 17%;
  transition: ease-in-out;
}
.con-content:hover .hover-a{
  display: block;
}

/* main page - for you section */
.for-you-section{
  margin-top: 56px;
  display: flex;
  justify-content: center;
}
.for-you-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1130px;
  width: 100%;
}
.for-you-intro{
  text-align: center;
  max-width: 1083px;
  width: 100%;
  margin-bottom: 35px;
}
.for-you-header{
  font-size: 48px;
  color: #110F0F;
  margin-bottom: 23px;
}
.for-you-p{
  font-size: 16px;
  line-height: 30px;
  color: #110F0F;
  margin-bottom: 25px;
}

.for-you-visual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.visual-part{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 27px;
}
.for-you-img-box{
  max-width: 346px;
  width: 100%;
  position: relative;
}
.for-you-img{
  width: 100%;
  filter: brightness(0.5);
}
.for-you-img:hover{
  filter: none;
}
.for-you-icon-div{
  position: absolute;
  max-width: 72px;
  width: 100%;
  top: 19px;
  left: 9px;
  
}
.visual-text{
  font-size: 24px;
  line-height: 30px;
  color: #5C656B;
  margin-top: 18px;
  width: 100%;
  text-align: center;
}

/* main page - horizontal slider */
.horizontal-slider-section{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 69px 0;
}
.horizontal-slider-header{
  font-size: 32px;
  padding: 50px 0;
}
.horizontal-slider{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  height: 320px;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
}
.horizontal-slider::-webkit-scrollbar{
  width: 1124px;
  height: 10px;
}
.horizontal-slider::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #5C656B; 
  border-radius: 10px;
}
.horizontal-slider::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #ffa1a9;
}
.horizontal-slider::-webkit-scrollbar-thumb:hover{
  background: #e84f5b;
}
.h-slider-box{
  width: 365px;
  background-color: #f57781;
  border-radius: 10px;
  position: relative;
  padding: 26px 20px;
  margin-right: 20px; 
  margin-bottom: 36px; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.h-slider-box:last-child{
  margin-right: 0;
}
.h-slider-box:hover{
  background-color: #E84F5B;
}
.slider-logo{
  position: absolute;
  top: 26px;
  left: 20px;
  max-width: 45px;
  width: 100%;
}
.h-slider-h{
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 58px;
}
.h-slider-p{
  width: 280px;
  font-size: 14px;
  line-height: 23px;
  color: white;
  text-align: end;
}
.h-slider-li::after{
  content: "•";
  font-size: 14px;
  color: white;
  padding-left: 10px;
}
/* double slider section */
.dou-slider-section{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* Slideshow container */
.dou-slideshow-container {
  margin: auto;
}
/* Hide the images by default */
.douSlides {
  display: none;
  margin-bottom: 32px;
}
.dou-content-box{
  display: flex;
  justify-content: center;
}
.dou-box{
  position: relative;
}
.dou-img{
  max-width: 490px;
  width: 100%;
  filter: brightness(0.5);
}
.dou-img:hover{
  filter: none;
}
.dou-icon{
  position: absolute;
  top: 28px;
  left: 26px;
  max-width: 72px;
  width: 100%;
}
.right{
  position: absolute;
  top: 28px;
  max-width: 72px;
  width: 100%;
  right: 60px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.dou-text{
  color: #5C656B;
  font-size: 24;
  line-height: 30px;
}
/* The dots/bullets/indicators */
.dot-box{
  margin: 0 auto;
}

.douDot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 9px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activate,
.douDot:hover {
  background-color: #5C656B;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* exclusive packets section */
.exclusive-section{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 69px 0;
}
.grey{
  height: 255px;
}
.grey::-webkit-scrollbar-thumb{
  background: #969ca0;
}
.grey::-webkit-scrollbar-thumb:hover{
  background: #5C656B;
}
.grey-box{
  background-color: #5C656B;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grey-box:hover{
  background: #969ca0;
}
.grey-logo{
  position: static;
}
.grey-h{
  font-size: 26px;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}
.grey-p{
  text-align: left;
}

/* apps section */
.apps-section{
  background-image: url(../photo/apps.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 136px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps-text{
  position: static;
}
.apps-div{
  display: flex;
  flex-direction: column;
}
.apps-par{
  padding: 12px 17px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* company page */
/* banner - first section*/
.company-banner{
  width: 100%;
  position: relative;
}
.banner-img{
  width: 100%;
}
.direction{
  position: absolute;
  top: 24%;
  left: 10%;
  color: #ffffff;
  font-size: 18px;
  text-decoration: underline;
}
/* drop down info section */
.drop-down-info{
  width: 100%;
  margin-top: 15px;
}
.ddi-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.drop-down-info-container{
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-down-information{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}
.di-img{
  width: 100%;
  filter: brightness(50%);
}
.di-header{
  position: absolute;
  top: 27%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
.di-icon{
  max-width: 35px;
  width: 100%;
  margin-right: 25px;
}
.arrow{
  max-width: 24px;
  width: 100%;
  position: absolute;
  top: 33%;
  right: 4%;
}

/* first drop-down info */
.ddi-box{
  width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ddi{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 31px;
  border-radius: 10px;
  background-color: #e84f5b;
  color: white;
  font-size: 20px;
  max-width: 365px;
  width: 100%;
  margin-right: 15px;
}
.ddi:last-child{
  margin-right: 0;
}
.ddi-img {
  max-width: 50px;
  width: 100%;
  margin-right: 20px;
}
.ddi-a{
  color: white;
  font-size: 20px;
}

/* filialebi */
.filialebi{
  width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.destination-list-box{
  width: 80%;
  font-size: 20px;
  color: #5C656B;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.destination-label{
  margin-bottom: 15px;
}
.lists{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.info-input{
  max-width: 256px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #E84F5B;
  padding: 5px;
  /* padding-left: 90px; */
  font-size: 18px;
  color: #5C656B;
  margin-bottom: 10px;
  text-align-last: right;
}
.info-input:focus{
  outline: none;
}

/* georgia map */
.map-box{
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.map-img{
  width: 100%;
}
.loc-pin{
  position: absolute;
  bottom: 29%;
  right: 34%;
  width: 24px;
  transform: translate(50%, 50%);
}
.logo-pin{
  width: 31px;
}
.location{
  position: absolute;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.address{
  position: absolute;
  max-width: 218px;
  width: 100%;
}
.ad-style{
  font-size: 18px;
  color: #5C656B;
  line-height: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 2px 50px;
  filter: drop-shadow(0px 3px 6px);
  text-align: center;
}
.address-span{
  font-size: 20px;
  color: #E84F5B;
}
.vertical{
  background-color: #E84F5B;
  width: 2px;
  height: 100px;
  margin: 0 auto;
}
.lagodexi{
  bottom: 39%;
  right: 9%;
}
.ad-lagodexi{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 410%;
  display: none;
}
.lagodexi:hover{
  max-width: 218px;
  width: 100%;
}
.lagodexi:hover .ad-lagodexi{
  display: block;
}
.gurjaani{
  bottom: 29%;
  right: 16%;
}
.ad-gurjaani{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 470%;
  display: none;
}
.gurjaani:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.gurjaani:hover .ad-gurjaani{
  display: block;
} 
.lagodexi-2{
  bottom: 39%;
  right: 22%;
}
.ad-lagodexi-2{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 410%;
  display: none;
}
.lagodexi-2:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.lagodexi-2:hover .ad-lagodexi-2{
  display: block; 
}
.rustavi{
  bottom: 26%;
  right: 28%;
}
.ad-rustavi{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 480%;
  display: none;
}
.rustavi:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.rustavi:hover .ad-rustavi{
  display: block;
}
.tbilisi{
  bottom: 32%;
  right: 32%;
}
.ad-tbilisi{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 710%;
  display: none;
}
.tbilisi:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.tbilisi:hover .ad-tbilisi{
  display: block;
}
.zestafoni{
  bottom: 42%;
  right: 54%;
}
.ad-zestafoni{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 480%;
  display: none;
}
.zestafoni:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.zestafoni:hover .ad-zestafoni{
  display: block;
}
.axalcixe{
  bottom: 26%;
  right: 58%;
}
.ad-axalcixe{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 480%;
  display: none;
}
.axalcixe:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.axalcixe:hover .ad-axalcixe{
  display: block;
}
.kutaisi{
  bottom: 50%;
  right: 59%;
}
.ad-kutaisi{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 480%;
  display: none;
}
.kutaisi:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.kutaisi:hover .ad-kutaisi{
  display: block;
}
.senaki{
  bottom: 53%;
  right: 73%;
}
.ad-senaki{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 480%;
  display: none;
}
.senaki:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.senaki:hover .ad-senaki{
  display: block;
}
.zugdidi{
  bottom: 61%;
  right: 74%;
}
.ad-zugdidi{
  right: 50%;
  transform: translate(50%, 50%);
  bottom: 420%;
  display: none;
}
.zugdidi:hover{
  max-width: 218px;
  width: 100%;
  z-index: 1;
}
.zugdidi:hover .ad-zugdidi{
  display: block;
}
/* our history drop down */
.time-line{
  width: 100%;
  position: relative;
}
.years-div{
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px auto;
}
.year{
  padding: 30px;
  background-color: #E84F5B;
  border: thin solid #E84F5B;
  color: white;
  font-size: 28px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}
.year:hover{
  background-color: white;
  border: thin solid #E84F5B;
  color: #E84F5B;
}
.hr-line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  border: 0.5px solid #E84F5B;
}
.story{
  display: none;
  max-width: 890px;
  width: 70%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #5C656B;
  top: 100%;
  right: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}
.opened.story{
  display: block;
}

/* car insurance page */
.car-insurance{
  margin: 25px auto;
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.insurance{
  margin: 25px auto;
  width: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ins-form{
  max-width: 1083px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 6px #5C656B;
  border-radius: 10px;
}
.ins-text, .ins-span{
  margin-top: 27px;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}
.ins-list-box{
  max-width: 460px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px auto 65px;
}
.ins-lists{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ins-ul{
  margin: 15px auto;
}
.ins-li{
  font-size: 16px;
  line-height: 28px;
  list-style: disc;
}
.ins-offers{
  max-width: 460px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.offer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 17px;
}
.offer-icon{
  width: 84px;
  height: 84px;
  border: thin solid #E84F5B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-span{
  font-size: 20px;
  line-height: 30px;
  color: #E84F5B;
  text-align: center;
}
.insu-button-a{
  max-width: 290px;
  width: 60%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insu-button{
  width: 100%;
  height: auto;
  color: white;
  cursor: pointer;
  font-size: 32px;
  line-height: 60px;
  background-color: #E84F5B;
  border: #E84F5B;
  border-radius: 50px;
}
.insu-button:focus{
  outline: none;
}
/* slider */
.car-slider{
  max-width: 2000px;
  width: 100%;
  height: 300px;
  position: relative;
  margin-right: 200px;
}
.car-slider:last-child{
  margin-right: 0;
}
.car-ins-img{
  max-width: 285px;
}
.car-ins-slider{
  position: absolute;
  top: 30px;
  left: 25%;
  background-color: #5c656b85;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.car-ins-logo{
  position: absolute;
}

/* acquire page */
/* steps section */
.steps-section{
  margin: 0 auto;
  width: 83%;
  position: relative;
  height: 1000px;
}
.steps-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  padding: 30px;
  background-color: #ffff;
  border: thin solid #E84F5B;
  color: #E84F5B;
  font-size: 28px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}
.step:hover{
  background-color: #E84F5B;
  border: thin solid #E84F5B;
  color: #ffff;
}
.step:first-child{
  background-color: #E84F5B;
  border: thin solid #E84F5B;
  color: #ffff;
}
.st-span{
  position: absolute;
  top: 110px;
  font-size: 20px;
  line-height: 27px;
  color: #5C656B;
  text-align: center;
}
.step-content{
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.step-cont{
  width: 100%;
  box-shadow: 0 3px 6px #5C656B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 58px;
}
.step-cont-text{
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
.step-input-lable{
  font-size: 20px;
  line-height: 27px;
  color: #5C656B;
  text-align: center;
}